.logo {
display: flex;
flex-shrink: 0;
min-width: 85px;
min-height: 40px;
margin-right: 50px;

@include mobile {
margin-right: 0;
margin-bottom: 10px;
    }


&__span {
  font-size: 36px;
  line-height: 40px;

  &--b {
    color: var(--aqua);
  }

  &--a {
    color: var(--rose);
  }
}


  }
