.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item {
margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--gray-light);
    overflow: hidden;
    transition:color .3s ease;

    @include mobile {
      width: 30px;
      height: 30px;
    }

  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--gray-light);
  object-fit: cover;

  @include mobile {
    width: 30px;
    height: 30px;
  }

  &--linkedin {
    zoom: 1.17;
          transform: translate(-2px,-3px);
  }

  &--github {
  zoom: 2;
  transform: translate(-2px, -3px);
  }
}
  }
