<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left">
      <a class="logo"><span class="logo__span logo__span--b">-B</span><span class="logo__span logo__span--a">A-</span>
      </a>
    </div>
    <ul class="footer__social-list social list-reset">
      <li class="social__item">
        <a class="social__link  btn" href="https://www.linkedin.com/in/brinza-anna/" aria-label="facebook link" target="_blank">
          <svg class="social__icon social__icon--linkedin">
            <use xlink:href="img/sprite.svg#icons8-linkedin-black"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link  btn" href="https://github.com/brinza-anna" aria-label="facebook link" target="_blank">
          <svg class="social__icon social__icon--github">
            <use xlink:href="img/sprite.svg#icons8-github-60"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link  btn" href="https://www.facebook.com/anna.brinza.5" aria-label="facebook link" target="_blank">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
