<section class="about" id="about-me">
  <div class="container">
    <h2 class="section-title">About me</h2>
    <div class="about__descr-wrap">
      <p class="about__descr text">
        Hi, I'm Anna
        <button class="about__tooltips-btn btn tooltips js-tooltip-btn btn-reset" data-tippy-content="Biginner, but promising specialist :)" aria-label="Дополнительная информация">i</button> from Chishinau.
        And i'm interested in weblayout and everything connected with it.
      </p>
      <p class="about__descr text">I have completed the course "Weblayout" at Skillbox.</p>
      <p class="about__descr text">Ready to implement excellent&nbsp;projects with wonderful people.
        <button class="about__tooltips-btn  btn tooltips js-tooltip-btn btn-reset" data-tippy-content="Surely it's You ;)" aria-label="Дополнительная информация">i</button>
      </p>
    </div>
  </div>
</section>
