<header class="header">
  <div class="container header__container">
    <a class="logo"><span class="logo__span logo__span--b">-B</span><span class="logo__span logo__span--a">A-</span>
    </a>
    <nav class="nav" title="main menu" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about-me" class="nav__link  link" data-menu-item data-scroll>About me</a></li>
        <li class="nav__item"><a href="#skills" class="nav__link  link" data-menu-item data-scroll>Skills</a></li>
        <li class="nav__item"><a href="#projects" class="nav__link  link" data-menu-item data-scroll>Projects</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link  link" data-menu-item data-scroll>Contacts</a></li>
      </ul>
      <button class="btn-reset burger-close btn" aria-label="close menu" data-menu-close>
        <svg class="burger-close__icon">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </nav>
    <button class="btn-reset burger btn" aria-label="Open menu" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
