<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title"><span class="hero__name">Brinza</span><span class="hero__name">Anna</span></h1>
      <img class="hero__svg" src="img/computer.svg" alt="computer icon" loading="lazy" width="120" height="100">
      <span class="hero__descr text">
        frontend-&nbsp;developer from Chishinau,&nbsp;Moldova
      </span>
    </div>
    <div class="hero__slider">
      <div class="swiper-wrapper">
        <div class="hero__slide hero__slide--1  swiper-slide"></div>
        <div class="hero__slide hero__slide--2  swiper-slide"></div>
        <div class="hero__slide hero__slide--3  swiper-slide"></div>
        <div class="hero__slide hero__slide--4  swiper-slide"></div>
      </div>
    </div>
  </div>
</section>
