<div class="modal graph-modal">

  <div class="modal__container graph-modal__container" data-graph-target="projects-pic-1" role="dialog" aria-modal="true">
    <div class="modal-content graph-modal__content">
      <img class="modal-content__img" src="img/Blanchar-2.jpeg" alt="blanchard picture" loading="lazy" width="500" height="500">
      <div class="modal-content__descr">
        <button class="modal-content__btn-close sprite btn-reset js-modal-close graph-modal__close" aria-label="Close">
          <svg class="modal-content__btn-icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="modal-content__title subtitle">Blanchard:picture gallery</h3>
        <p class="modal-content__text text">Final course project- one page landing(CSS, Html, JS)</p>
        <p class="modal-content__text-descr text">Figma responsive layout(Perfect-Pixel)
          <a class="modal-content__figma link-modal" target="_blank" href="https://www.figma.com/file/FXCdg8Pu72IM1Zs2NV6iwJ/Blanchard?node-id=0%3A1">Figma layout of Blanchard</a>
        </p>
        <a class="modal-content__link link-modal" href="https://brinza-anna.github.io/Blanchard/" target="_blank">Blanchard site
          <svg class="modal-content__link-icon">
            <use xlink:href="img/sprite.svg#link-to"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="modal__container graph-modal__container" data-graph-target="projects-pic-2" role="dialog" aria-modal="true">
    <div class="modal-content graph-modal__content">
      <img class="modal-content__img" src="img/Robo.School-2.jpeg" alt="robo picture" loading="lazy" width="500" height="500">
      <div class="modal-content__descr">
        <button class="modal-content__btn-close btn-reset js-modal-close graph-modal__close" aria-label="Close">
          <svg class="modal-content__btn-icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="modal-content__title subtitle">Robo:Advanced training courses</h3>
        <p class="modal-content__text text">One page landing-test project(CSS, Html, JS, Gulp, Webpack, SCSS.)</p>
        <p class="modal-content__text-descr text">Figma responsive layout
          <a class="modal-content__figma link-modal" target="_blank" href="https://www.figma.com/file/TippzkL8D26gXLCTt0ZlEp/Robo">Figma layout of Robo</a>
        </p>
        <a class="modal-content__link link-modal" href="https://brinza-anna.github.io/Robo.school-gulp_use/" target="_blank">Robo site
          <svg class="modal-content__link-icon">
            <use xlink:href="img/sprite.svg#link-to"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="modal__container graph-modal__container" data-graph-target="projects-pic-3" role="dialog" aria-modal="true">
    <div class="modal-content graph-modal__content">
      <img class="modal-content__img" src="img/Skillbox-2.jpeg" alt="skillbox picture" loading="lazy" width="500" height="500">
      <div class="modal-content__descr">
        <button class="modal-content__btn-close btn-reset js-modal-close graph-modal__close" aria-label="Close">
          <svg class="modal-content__btn-icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="modal-content__title subtitle">Skillbox:3D Modeling Courses</h3>
        <p class="modal-content__text text">One page landing-test course project(CSS, Html, JS, bootstrap use)</p>
        <p class="modal-content__text-descr text">Figma responsive layout(Perfect-Pixel)
          <a class="modal-content__figma link-modal" target="_blank" href="https://www.figma.com/file/5B1NFPI9XVT7oXkd2jJMVZ/Сетки_ДЗ?node-id=0%3A1">Figma layout of Skillbox</a>
        </p>
        <a class="modal-content__link link-modal" href="https://brinza-anna.github.io/Skillbox.school/" target="_blank">Skillbox site
          <svg class="modal-content__link-icon">
            <use xlink:href="img/sprite.svg#link-to"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>


  <div class="modal__container graph-modal__container" data-graph-target="projects-pic-4" role="dialog" aria-modal="true">
    <div class="modal-content graph-modal__content">
      <img class="modal-content__img" src="img/portfolio-qa.png" alt="portfolio picture" loading="lazy" width="500" height="500">
      <div class="modal-content__descr">
        <button class="modal-content__btn-close btn-reset js-modal-close graph-modal__close" aria-label="Close">
          <svg class="modal-content__btn-icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="modal-content__title subtitle">Portfolio:QA-engeener</h3>
        <p class="modal-content__text text">One page landing-test project(CSS, Html, JS, Gulp, Webpack, SCSS)</p>
        <a class="modal-content__link link-modal" href="https://brinza-anna.github.io/QA-portfolio/" target="_blank">Portfolio:QA-engeener site
          <svg class="modal-content__link-icon">
            <use xlink:href="img/sprite.svg#link-to"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

</div>
