<section class="skills section-offset" id="skills">
  <div class="skills__container container">
    <h2 class="skills__title section-title">Skills</h2>
    <p class="skills__descr text">In my work I use such programs and practices</p>
    <div class="tabs" data-tabs="skills">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item"><button class="tabs__nav-btn link tabs__nav-btn--active btn-reset" type="button">Programs</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn link btn-reset" type="button">Skills</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn link btn-reset" type="button">Tools</button></li>
      </ul>

      <div class="tabs__content">

        <div class="tabs__panel">
          <ul class="tabs-content list-reset">
            <li class="tabs-content__item">
              <img loading="lazy" src="img/figma.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">Figma</span>:Disign platform for help front-end developers</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/vsc.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">VS Code</span>:Code editor</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/gitlab.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">GitLab</span>:Internet hosting for developers</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/github.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">GitHub</span>:Internet hosting for developers</p>
            </li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="tabs-content list-reset">
            <li class="tabs-content__item">
              <img loading="lazy" src="img/html.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">Html 5</span>:Advanced level</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/css.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">CSS</span>:Advanced level</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/scss.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">SCSS</span>:Practice in work</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/js.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">Java Script</span>:Basic level</p>
            </li>
          </ul>
        </div>

        <div class="tabs__panel">
          <ul class="tabs-content list-reset">
            <li class="tabs-content__item">
              <img loading="lazy" src="img/bem.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">BEM_</span>:Methodology for organizing and naming css</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/gulp.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">Gulp</span>:Toolkit for help automate tasks</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/pp.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">PerfectPixel</span>:Extention for develop websits accuracy</p>
            </li>
            <li class="tabs-content__item">
              <img loading="lazy" src="img/bootstrap.svg" class="tabs-content__svg" width="80" height="80" alt="figma icon">
              <p class="tabs-content__descr text"><span class="tabs-content__name">Bootstrap</span>:Framework for front-end developers </p>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
