<div class="modal graph-modal">

  <div class="modal__container graph-modal__container" data-graph-target="projects-pic-1" role="dialog" aria-modal="true">
    <div class="modal-content graph-modal__content">
      <div class="modal-content__descr">
        <button class="modal-content__btn-close sprite btn-reset js-modal-close graph-modal__close" aria-label="Close">
          <svg class="modal-content__btn-icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="modal-content__title subtitle">Manual testing of web applications</h3>
        <p class="modal-content__text-descr text"><span class="text-bold">Diploma project:</span>Testing an online store with goods:</p>
        <p class="modal-content__link link-modal">
          <a class="modal-content__figma link-modal" target="_blank" href="https://drive.google.com/file/d/1YLGt7sWR1IgtTOpCbXuDeNe1OuzXuLzu/view?usp=drive_link">Diploma- Web.testing.pdf</a><span class="text"> / </span>
          <a class="modal-content__figma link-modal" href="https://www.canva.com/design/DAE5yKgbO1E/3jxxJlvKTiFaDohG_QRQEQ/edit?utm_content=DAE5yKgbO1E&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">Diploma Presentation</a><span class="text"> / </span>
          <a class="modal-content__figma link-modal" href="https://brinza-anna.atlassian.net/jira/software/projects/DIPLOMA/boards/2" target="_blank">Jira board</a><span class="text"> / </span>
          <a class="modal-content__figma link-modal" href="https://app.diagrams.net/#G1d-F78byE-zLQFNQ3wL3W60h01v9E1-my" target="_blank">State diagram</a>
        </p>
        <p class="modal-content__text-descr text"><span class="text-bold">Testing stages: </span>Analytics => Drawing up a State Diagram => Drawing up Test cases => Estimating labor costs => Authorization/Registration Forms => Gray Box via API => UI/UX => Security => Regression => Acceptance Tests
        </p>
        <a class="modal-content__link link-modal" href="https://docs.google.com/document/d/1RTTxklhUYqP4x2apmYQiE53yph19JI7p/edit" target="_blank">Here is my resume
          <svg class="modal-content__link-icon">
            <use xlink:href="img/sprite.svg#link-to"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="modal__container graph-modal__container" data-graph-target="projects-pic-2" role="dialog" aria-modal="true">
    <div class="modal-content graph-modal__content">
      <div class="modal-content__descr">
        <button class="modal-content__btn-close btn-reset js-modal-close graph-modal__close" aria-label="Close">
          <svg class="modal-content__btn-icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="modal-content__title subtitle">Manual testing of mobile applications</h3>
        <p class="modal-content__text-descr text"><span class="text-bold">Final project:</span>Testing a test bike rental application:</p>
        <p class="modal-content__link link-modal">
          <a class="modal-content__figma link-modal" href="https://drive.google.com/file/d/1n8--NO0UZCrO_kGZ417NMAB4hhsMPDx3/view?usp=drive_link" target="_blank">The Certificate Mobile.Testing.pdf</a><span class="text"> / </span>
          <a class="modal-content__figma link-modal" href="https://brinza-anna.atlassian.net/jira/software/projects/DIPLOMA2/boards/3" target="_blank">Jira board</a><span class="text"> / </span>
          <a class="modal-content__figma link-modal" href="https://drive.google.com/drive/folders/11NmGCyz0G8J6QUA1AAfwvvHkjht8kvz2" target="_blank">State diagram</a>
        </p>
        <p class="modal-content__text-descr text"><span class="text-bold">Testing stages: </span>Checking it for compliance with the requirements for functionality, appearance and UX (ease of use) stated in the specification.
        </p>
        <a class="modal-content__link link-modal" href="https://docs.google.com/document/d/1RTTxklhUYqP4x2apmYQiE53yph19JI7p/edit" target="_blank">Here is my resume
          <svg class="modal-content__link-icon">
            <use xlink:href="img/sprite.svg#link-to"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="modal__container graph-modal__container graph-modal__container--last-slide-bg" data-graph-target="projects-pic-3" role="dialog" aria-modal="true">
    <div class="modal-content  graph-modal__content graph-modal__content--last-slide">
      <div class="modal-content__descr">
        <button class="modal-content__btn-close btn-reset js-modal-close graph-modal__close" aria-label="Close">
          <svg class="modal-content__btn-icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="modal-content__title modal-content__title--last-slide subtitle">Your project may be here soon!</h3>
      </div>
    </div>
  </div>
</div>
