<section class="projects section-offset" id="projects">
  <div class="projects__container container">
    <h2 class="subtitle">My projects</h2>
    <p class="projects__descr text">For more information about project click on respective slide</p>
  </div>

  <div class="projects__wrapper container-fluid">
    <div class="projects__slider js-projects-slides">
      <div class="swiper-wrapper">
        <a class="swiper-slide projects__slide" href="#" aria-label="slide 1" data-graph-path="projects-pic-1">
          <img loading="lazy" src="img/how-pic-1@320.jpg" class="projects__img" width="300" height="200" alt="">
          <p class="projects__slide-descr">web-testing</p>
        </a>
        <a class="swiper-slide projects__slide" href="#" aria-label="slide 2" data-graph-path="projects-pic-2">
          <img loading="lazy" src="img/how-pic-4@320.jpg" class="projects__img" width="300" height="200" alt="">
          <p class="projects__slide-descr">mobile-testing</p>
        </a>
        <a class="swiper-slide projects__slide" href="#" aria-label="slide 3" data-graph-path="projects-pic-3">
          <img loading="lazy" src="img/about-pic-1@320.jpg" class="projects__img" width="300" height="200" alt="">
          <p class="projects__slide-descr">to be continued</p>
        </a>
      </div>
    </div>
    <div class="projects__nav">
      <button class="projects__nav-btn btn nav-btn btn-reset js-projects-prev" aria-label="to previous">
        <svg class="projects__nav-icon">
          <use xlink:href="img/sprite.svg#prev"></use>
        </svg>
      </button>
      <button class="projects__nav-btn btn nav-btn btn-reset js-projects-next" aria-label="to next">
        <svg class="projects__nav-icon">
          <use xlink:href="img/sprite.svg#next"></use>
        </svg>
      </button>
      <div class="projects__pagination js-projects-pagination"></div>
    </div>

  </div>

</section>
